<img src="http://readme.drone.io/logos/slack-blame.svg" alt="Slack" height=100/>
<img src="https://pixabay.com/static/uploads/photo/2014/04/03/10/29/arrow-right-310628_960_720.png" alt="TO" height=100/>
<img src="https://pbs.twimg.com/profile_images/700419586026385408/lcJo18qu.png" alt="Pivotal Tracker" height=100/>

<h1>I can make a story for you in your Tracker backlog with one command!</h1>
<p> First hit this url to set your Tracker token: <strong>https://slack-to-tracker.cfapps.io/tracker_token</strong>, with the parameter 'tracker_token' => 'your tracker token'.
Then hit this endpoint: <strong>https://slack-to-tracker.cfapps.io</strong> with the following required parameters:

project_id — The ID of the project.
 
name — Name of the story, string <= 5000 characters.</p>